@import '../mixin.scss';
@import '../variables.scss';

.contact__container {
  @include mq() {
    max-width: 560px;
    margin: 0 auto;
  }
  h2 {
    margin: 0 0 32px;
  }
}

.contact__form {
  input,
  .form__message {
    width: 100% !important;
    outline: 0;
  }
}
.form__field {
  margin: 0 0 24px;
  height: 32px;
  border: none;
  border-bottom: 1px solid $light-gray;
}

textarea {
  border: none;
  border: 1px solid $light-gray;
  padding: 1rem 8px;
  height: 80px;
}

.btn {
  border: none;
  background: none;
}
.submitBtn {
  border: 1px solid $black;
  margin: 24px 0 0;
  width: 180px;
  padding: 2px;
  height: 40px;
  &:hover,
  &:focus {
    background: $black;
    color: $white;
  }
}

.back {
  margin: 32px 0 0;
}