article {
  figure {
    margin: 0 0 $spacing-1;
  }
  h2 {
    font-size: 21px;
    line-height: 1.3;
  }
}
.sectionHead {
  display: flex;
  align-items: baseline;
  margin: 0 0 $spacing-4;

  h3 {
    margin: 0 $spacing-2 0 0;
  }
}
.catList {
  li {
    display: inline-block;
    margin: 0 $spacing-4 0 0;
    &:hover {
      border-bottom: 1px solid $text;
    }
  }
}
// three recent entries
.NewestEntry {
  display: flex;
  flex-direction: column;
  @include mq() {
    gap: 48px;
    flex-flow: wrap row;
  }
}
.recentItem{
  margin: 0 0 $spacing-5;
  @include mq() {
    margin: 0 0 $spacing-7;
    width: calc((100% - 80px * (3 - 1)) / 3 - 0.1px);
    &:last-child {
      margin-right: 0;
    }
  }
}
.entry__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-white;
  height: 200px;

  & > span {
    font-size: 48px;
    line-height: 48px;
  }
}
.entryHeader {
  p {
    color: $gray;
    margin: 10px 0 0;
  }
}
.entryMeta {
  display: flex;
  column-gap: $spacing-2;
}
// other entries
.entryItem {
  margin: 0 0 $spacing-5;
  a {
    display: flex;
    flex-flow: column wrap;

    @include mq() {
      flex-flow: row-reverse;
      justify-content: space-between;
    }
  }
  figure {
    @include mq() {
      min-width: 225px;
      height: auto;
      margin: 0 0 0 $spacing-3;
    }
  }
}

.seeMoreLink {
  width: 100%;
  text-align: center;
  margin: $spacing-8 0;

  a {
    padding: $spacing-1 $spacing-2;
    border: 1px solid $text;
    border-radius: 50px;
    font-size: 18px;

    &:hover,
    &:focus {
      background: $text;
      color: $white;
    }
  }
}