@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.sidebar {
  width: 100%;
  @include mq() {
    max-width: 30%;
  }
}

.sideModule {
  padding: $spacing-4 $spacing-3;
  margin: 0 0 $spacing-5;
  h3 {
    margin: 0 0 $spacing-1;
  }
}

.profileModule {
  background: $light-white;
  display: flex;
  flex-direction: column;
  & > img {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  a {
    display: inline;
    border-bottom: 1px solid $text;
  }
}

.entry__tags {
  & > li {
    margin:  0 $spacing-1 $spacing-1 0 !important;

    a {
      margin: 0 0 0 $spacing-half;
    }

    span {
      margin: 0 0 0 $spacing-half;
      color: $gray;
    }
  }
}
