@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.sidebar {
  width: 100%;
  @include mq() {
    max-width: 330px;
  }
}

.sideModule {
  margin: 0 0 $spacing-5;
  h3 {
    margin: 0 0 $spacing-1;
  }
}

.profileModule {
  padding: $spacing-4 $spacing-3;
  background: $light-white;
  display: flex;
  flex-direction: column;
  & > img {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  a {
    margin: $spacing-3 0 0;
    border: 1px solid $gray;
    border-radius: 2px;
    padding: $spacing-1 $spacing-2;
  }
}

.entry__tags {
  & > li {
    margin:  0 $spacing-1 $spacing-1 0 !important;
    
    a {
      margin: 0 0 0 $spacing-half;
    }

    span {
      margin: 0 0 0 $spacing-half;
      color: $gray;
    }
  }
}
