@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.sidebar {
  width: 100%;
  @include mq() {
    max-width: 30%;
  }
}
.sideModule {
  padding: 32px 24px;
  margin: 0 0 48px;
  h3 {
    margin: 0 0 8px;
  }
}
.profileModule {
  background: $light-white;
}