@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

footer {
  margin: 72px 0 0;
  padding: 0 24px;
  @include mq(){
    padding: 0 64px;
  }

  div {
    display: flex;
    flex-direction: column;
    @include mq(){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  h1,
  ul {
    margin: 0 0 $spacing-4;
  }
  h1 {
    font-size: 21px;
    font-weight: 400;
  }
  h3 {
    font-size: $spacing-2;
  }
}